.item {
  &__status-container {
		padding: 13px ;
		border-radius: 6px;
		width: 104px;
		display: flex;
		justify-content: center;
	}

  &__status {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;

		&-icon {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin-right: 5px;
		}
	}
}

.paid-bg {
	background: #33D69F10;
}

.paid-ft {
	color: #33D69F;
}

.paid-icon {
	background: #33D69F;
}

.pending-bg {
	background: #ff8f0010;
	
}

.pending-ft {
	color: #ff8f00;
}

.pending-icon {
	background: #ff8f00;
}

.draft-bg {
	background: #373B5305;
}

.draft-ft {
	color: #373b53 !important;
}

.draft-icon {
	background: #373b53 !important;
}


.dark-header {
	background-color: #1e2139 !important;
	color: white;
}

.dark-font {
	color: white !important;
}

.dark-font_purple {
	color:#DFE3FA !important;
}

.dark-bg {
	background: white !important;
}

.dark-nav {
	background-color: rgb(20, 22, 37);
	color: white;
}

.dark-light {
	background-color: #252945 !important;
}

.dark-black {
	background-color: #141625;
}
