@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900);

p {
  margin: 0 !important;
}

h1 {
  margin: 0 !important;
}

body {
  color: #0C0E16 !important;
  background-color: #F8F8FB !important;
  font-family: "League Spartan", sans-serif !important;
}

ul, li {
  padding: 0 !important;
}

.App {
  position: relative;
}

