.header {
	background: #373b53;
  margin-bottom: 32px;

	&__nav {
		border-right: 1px solid #494E6E;
	}

	&__logo {
		padding: 22px;
		background-color: #7c5dfa;
		background: url(../assets/icon-logo-overlay.png) no-repeat bottom, #7c5dfa;
		border-radius: 0px 20px 20px 0px;
		position: relative;
		overflow: hidden;
		z-index: 0;
	}

  &__switcher {
    background-color: transparent;
    border: none;
    position: relative;
    left: -20px;
  }

	&__avatar {
		border-radius: 50%;
		padding: 20px 24px;
   

		& img {
			width: 32px;
			border-radius: 50%;
		}
	}
}

.dark-header {
	background-color: #1E2139 !important;
	color: white !important;
}

.dark-font {
	color: white;
}

.dark-nav {
  background-color: rgb(20,22,37);
  color: white;
}
