.invoicesList {
	&__item {
		padding: 24px !important;
		background-color: white;
    margin-bottom: 16px !important;
    border-radius: 8px;

		&:hover {
			box-shadow: 0 4px 8px 0 rgba(18,18,19,.1);
			transform: scale(0.99);
		}

		&-left {
		}

		&-right {
      display: flex;
      flex-direction: column;
		}
	}
}

.item {
	&__status-container {
		padding: 13px 30px;
		border-radius: 6px;
		width: 104px;
	}

	&__status {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;

		&-icon {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin-right: 5px;
		}
	}

	&__number {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.25px;
		margin-bottom: 24px !important;

		& span {
			color: #7e88c3;
		}
	}

	&__date {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.25px;
		margin-bottom: 8px !important;
		color: #7e88c3;
	}

	&__name {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.25px;
		color: #858bb2;
    text-align: right;
    margin-bottom: auto !important;
	}

	&__amount {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
	}
}

.paid-bg {
	background: #33D69F10;
}

.paid-ft {
	color: #33D69F;
}

.paid-icon {
	background: #33D69F;
}

.pending-bg {
	background: #ff8f0010;
	
}

.pending-ft {
	color: #ff8f00;
}

.pending-icon {
	background: #ff8f00;
}

.draft-bg {
	background: rgba(55,59,83, 0.06);
}

.draft-ft {
	color: #373b53 !important;
}

.draft-icon {
	background: #373b53 !important;
}
