.invoicePreview {
	position: absolute;
	z-index: 98;
	min-width: 375px;
	background: #f8f8fb;
	width: 100%;
	// transition: background .3s ease;

	&__status {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px;
		background-color: white;
		border-radius: 8px;
		margin-bottom: 16px;
		transition: all .3s auto;

		@media screen and (min-width: 767px) {
			align-items: center;
		}

		&-text {
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;

			@media screen and (min-width: 767px) {
				margin-right: 16px !important;
			}
		}
	}

	&__info {
		background-color: white;
		border-radius: 8px;
		padding: 24px;
		margin-bottom: 56px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	&__heading {
		margin-bottom: 30px;
		grid-area: 1/1/2/5;

		@media screen and (min-width: 767px) {
			grid-area: 1/1/2/3;
		}
	}

	&__number {
		color: #7e88c3;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.25px;
		margin-bottom: 4px !important;
		& span {
			color: #0c0e16;
		}

		@media screen and (min-width: 767px) {
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__invoiceDate,
	&__invoiceDue {
		font-weight: 700;
		font-size: 15px;
		line-height: 20px;
	}

	&__labelDate {
		margin-bottom: 12px;
	}

	&__description {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.25px;
		color: #7e88c3;
	}

	&__address {
		margin-bottom: 30px;
		grid-area: 2/1/3/5;

		@media screen and (min-width: 767px) {
			grid-area: 1/3/2/5;
			text-align: right;
		}
	}

	&__clientName {
		margin-bottom: 8px !important;
	}

	&__bill {
		// display: grid !important;
		// grid-template-columns: 1fr 1fr;
		margin-bottom: 36px;
		grid-area: 3/1/4/5;
		display: flex;
		justify-content: space-between;

		@media screen and (min-width: 767px) {
			grid-area: 2/1/3/3;
		}
		&-date {
			margin-bottom: 32px;
		}
	}

	&__bill-email {
		margin-bottom: 40px;
		grid-area: 4/1/5/5;

		@media screen and (min-width: 767px) {
			grid-area: 2/3/3/5;
			display: flex;
			flex-direction: column;
			margin-left: 100px;
		}
	}

	&__list-inner {
		margin: 0;
	}

	&__list-item {
		display: flex;
		justify-content: space-between;
		background-color: #f9fafe;
		padding: 24px !important;
		border-radius: 8px 8px 0 0;
	}

	&__itemName {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 8px !important;
	}

	&__list-item-right {
		display: flex;
		align-items: center;
	}

	&__qtySum {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		color: #888eb0;
	}

	&__totalItems {
		grid-area: 5/1/6/5;
	}

	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px;
		background: #373b53;
		border-radius: 0 0 8px 8px;
		color: white;

		&-text {
			font-weight: 500;
			font-size: 11px;
			line-height: 18px;
		}

		&-sum {
			font-weight: 700;
			font-size: 20px;
			line-height: 32px;
		}
	}

	&__groupButtons {
		padding-top: 21px;
		padding-bottom: 21px;
		display: flex;
		justify-content: space-between;
		background-color: transparent !important;
		font-size: 12px;

		& button {
			border: none;
			padding: 10px 24px;
			border-radius: 24px;
		}

		& button:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__btn-edit {
		background-color: #f9fafe;
		color: #7e88c3;
	}

	&__btn-delete {
		background: #ec5757;
		color: #ffffff;
	}

	&__btn-paid {
		background: #7c5dfa;
		color: #ffffff;
	}

	&__table-container {
		background-color: #f9fafe;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	&__table {
		width: 100%;
		border-spacing: 32px 30px;
		border-collapse: separate;
		font-size: 12px;
	}

	&__totalCell,
	&__priceCell {
		text-align: right;
	}

	&__qtyCell {
		text-align: center;
	}

	& td {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
	}

	&__tableHead {
		color: #7e88c3;
		font-size: 11px;
		line-height: 18px;
	}
}

.label {
	font-weight: 500;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: -0.229167px;
	color: #7e88c3;
}

.big-fs {
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.3125px;
	color: #0c0e16;
}



.preview-enter {
	transform: translateX(-100%);
}

.preview-enter-active {
	transform: translateX(0);
	transition: all 500ms;
}

.preview-exit {
	transform: translateX(0);
}

.preview-exit-active {
	transform: translateX(100%);
	transition: all 500ms ;
}
