.header {
	background: #373b53;
	display: flex;
	position: relative;
	z-index: 100;

	@media screen and (min-width: 1500px) {
		position: fixed;
		top: 0;
		height: 100vh;
		width: 102px;
		border-radius: 0 20px 20px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 0;
	}

	&__container {
		@media screen and (min-width: 1500px) {
			flex-direction: column !important;
		}
	}

	&__nav {
		border-right: 1px solid #494e6e;

		@media screen and (min-width: 1500px) {
			flex-direction: column;
			border: none;
			// justify-content: space-between !important;
			height: 100%;
		}
	}

	&__logo {
		padding: 22px;
		background-color: #7c5dfa;
		background: url(../../assets/icon-logo-overlay.png) no-repeat bottom, #7c5dfa;
		border-radius: 0px 20px 20px 0px;
		position: relative;
		overflow: hidden;
		z-index: 0;

		@media screen and (min-width: 767px) {
			padding: 31px;
			background-size: 100%;
			& img {
				width: 40px;
			}
		}
	}

	&__switcher {
		background-color: transparent;
		border: none;
		position: relative;
		left: -20px;

		@media screen and (min-width: 1500px) {
			left: 0;
			padding: 31px 42px;
		}
	}

	&__avatar {
		height: 100%;
		position: relative;


		width: 80px;

		& img {
			width: 32px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		@media screen and (min-width: 767px) {
			height: 100px;
			width: 100px;
			border: none !important;
		}

		@media screen and (min-width: 1500px) {
			// padding: 24px 31px;
			border-top: 2px solid #494e6e !important;
			& img {
				width: 40px;
			}
		}
	}
}


