
.dark-header {
	background-color: #1e2139 !important;
	color: white;
}

.dark-font {
	color: white !important;
}

.dark-font_purple {
	color:#DFE3FA !important;
}

.dark-nav {
	background-color: rgb(20, 22, 37);
	color: white;
}

.dark-light {
	background-color: #252945 !important;
}

.dark-black {
	background-color: #141625;
}
