.dark-header {
	background-color: #1e2139 !important;
	color: white;
}

.dark-font {
	color: white !important;
}

.dark-font_purple {
	color: #dfe3fa !important;
}

// .dark-nav {
// 	background-color: #141625 !important;
// 	color: white !important;
// }

.dark-light {
	background-color: #252945 !important;
}

.dark-black {
	background-color: #141625 !important;
}

.dark-bg {
	background: white !important;
}
