.my-node-enter {

  transform: translateX(-100%);
}
.my-node-enter-active {

  transform: translateX(0);
	transition: opacity 1000ms, transform 1000ms;
}
.my-node-exit {

  transform: translateX(0);
}
.my-node-exit-active {

  transform: translateX(-100%);
	transition: opacity 1000ms, transform 1000ms ;
}
