.invoicesList {
	&__item {
		padding: 24px !important;
		background-color: white;
		margin-bottom: 16px !important;
		border-radius: 8px;
		border: 1px solid transparent;
		transition: all 0.2s linear;
		display: grid;
		grid-template-columns: 1fr, 1fr;
	

		&:hover {
			border: 1px solid #7c5dfa;
		}
	}
}

.item {
	&__arrowRight {
		display: none;

		@media screen and (min-width: 767px) {
			display: block;
		}
	}

	&__status-container {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		grid-area: 2/2/4/3;
		margin-left: auto;

		&-icon {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin-right: 5px;
		}
	}

	&__number {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.25px;
		grid-area: 1/1/2/2;
		margin-bottom: 24px !important;

		& span {
			color: #7e88c3;
		}

		@media screen and (min-width: 767px) {
		}
	}

	&__date {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.25px;
		color: #7e88c3;
		margin-bottom: 8px !important;


		@media screen and (min-width: 767px) {
			margin-bottom: 0 !important;
		}
	}

	&__name {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.25px;
		color: #858bb2;
		text-align: right;
		grid-area: 1/2/2/3;

		@media screen and (min-width: 767px) {
		}
	}

	&__amount {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
	}
}
