@import "./customBootstrap.scss";

@font-face {
  font-family: "Spartan";
  src: url(./fonts/Spartan-Regular.ttf);
}
p {
  margin: 0 !important;
}

h1 {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  color: #0C0E16 !important;
  font-family: "Spartan", sans-serif !important;
  min-width: 375px !important;
  max-width: 1920px !important;
  margin: 0 auto !important;
  transition: all 0.3s ease;
}

ul, li {
  padding: 0 !important;
}

.App {
  position: relative;
}

.blockScroll {
  overflow: hidden;
}

